.quality {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 1rem;
    margin: 2rem 1rem;
    &__left {
        margin: auto;
        h2 {
            font-size: $font-size-h2;
        }
        p{
            padding: 1rem 1rem 0;
        }
    }
    &__right {
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        gap: 1rem; 
        margin: 0 auto;
        &__card {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 1.3rem;
            background-color: $bg-card;
            border-radius: 1rem;
            box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25),
                       -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
            transition: background-color 0.3s ease-in-out;
            &:hover {
                background-color: rgb(79, 110, 28);
            }
            h2 {
                color: $white-col;
                display: flex;
                flex-direction: column;
            }
            p {
                color: $white-col;
            }
            span {
                font-size: 1.5rem;
                padding: 1rem 0;
            }
        }
    }
}

@media screen and (max-width: 900px) {
    .quality{
        grid-template-columns: 1fr;
        .quality__right{
            grid-template-columns: repeat(2, 1fr);
        }
    }
    }
    @media screen and (max-width: 600px) {
       .quality .quality__right{
            grid-template-columns: 90%;
        }
    }