.buttons-statusUser{
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
@include for-size(phone-only) {
    width: 150px;
  }
  :hover{
    cursor: pointer;
  }
&__button {
  display: flex;
align-items: baseline;
width: 3rem;
height: 3rem;
    &__login {
      width: 3rem;
      height: 3rem;
      background-image: url("../../../assets/images/icons/userg.png");
      background-size: 2.5rem;
      background-position: center;
      background-color: transparent;
      background-repeat: no-repeat;
      border-radius: 50%;
      border: none;
      margin: 0;
      }
 &__basket {
    position: relative;
    margin: 0px 1.2rem;
    color: $white-col;
    background: $primary-col;
    border-radius: 50%;
    border: none;
   font-size: 1.7rem;
    width: fit-content;
    padding: 4px 8px;
  &__items-in {
    position: absolute; 
    top: 0px; 
    right: 0px; 
    background-color: $alert-col; 
    color: $white-col; 
    font-size: 0.8rem;
   // justify-content: center; 
   // align-items: center; 
    padding: 3px;
    }
    @media (max-width: 767px) {
      font-size: 1.2rem;
    }
  }
  }
}