//client\src\assets\styles\utils\_mixins.scss
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  @mixin line-clamp($lines, $line-height) {
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: $lines;
    -webkit-box-orient: vertical;
    max-height: $lines * $line-height;
    text-overflow: ellipsis;
    overflow: hidden;
    border: none;
    box-shadow: none;
  }
  
  @mixin for-size($size) {
    @if $size == phone-only {
      @media (max-width: 768px) { @content; }
    } @else if $size == tablet-portrait-up {
      @media (min-width: 800px) { @content; }
    } @else if $size == tablet-landscape-up {
      @media (min-width: 900px) { @content; }
    } @else if $size == desktop-up {
      @media (min-width: 1200px) { @content; }
    } @else if $size == big-desktop-up {
      @media (min-width: 1800px) { @content; }
    }
  }
  

//   // breakpoints
// @mixin for-size($size) {
//   @if $size == phone-only {
//     @media (max-width: 768px) { @content; }
//   } @else if $size == tablet-portrait {
//     @media (min-width: 769px) and (max-width: 1024px) { @content; }
//   } @else if $size == tablet-landscape {
//     @media (min-width: 1025px) and (max-width: 1200px) { @content; }
//   } @else if $size == desktop {
//     @media (min-width: 1201px) { @content; }
//   }
// }
