@charset "UTF-8";
.side.open .btn-logout h3 {
  display: inline-block;
  margin: auto;
}

.side.closed .btn-logout h3 {
  display: none;
}

.side {
  flex-shrink: 0;
  background-color: var(--sidebar-bg-color);
  transition: all 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: auto;
  margin-right: 2px;
}
.side.closed {
  flex-basis: 50px;
  max-width: 50px;
}
.side.closed .marque {
  display: none;
}
.side.closed .toggle-btn {
  position: absolute;
  top: 0px;
  right: 0;
  margin: 10px;
}
.side.open {
  flex-basis: 250px;
  max-width: 250px;
}
.side .side-top {
  background-color: var(--color-dark);
  position: relative;
}
.side .side-top .marque {
  color: var(--sidebar-marque-col);
  text-align: center;
  font-weight: 500;
  margin: 2rem;
}
.side .side-top .toggle-btn {
  background: none;
  color: var(--sidebar-bg-color);
  background-color: var(--col-action);
  position: absolute;
  bottom: -40px;
  right: 10px;
  cursor: pointer;
}
.side .side-top .toggle-btn svg {
  width: 1rem;
  height: 1rem;
  color: antiquewhite;
}
.side .side-links {
  margin-top: 2rem;
}
.side .side-links a, .side .side-links h4 {
  display: flex;
  align-items: center;
  padding: 10px;
  color: var(--sidebar-links-col);
  white-space: nowrap;
  overflow: hidden;
}
.side .side-links a:hover, .side .side-links h4:hover {
  background-color: var(--sidebar-hover-bg-color);
}
.side .side-links a.active, .side .side-links h4.active {
  background-color: var(--sidebar-active-link);
}
.side .side-links a.active:before, .side .side-links h4.active:before {
  content: "";
  position: absolute;
  right: 0;
  background-color: var(--col-action);
  height: 100%;
  width: 4px;
}
.side .side-links a svg, .side .side-links h4 svg {
  margin-right: 16px;
  width: 1.5rem;
  height: 1.5rem;
  transition: all 0.3s ease;
}
.side .side-links a h4, .side .side-links h4 h4 {
  display: none;
  transition: all 0.3s ease;
  margin: 0 1rem;
}
.side .btn-logout {
  padding: 10px;
  margin: 2rem auto;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: transparent;
  color: var(--col-white);
  cursor: pointer;
  transition: all 0.3s ease;
}
.side .btn-logout span {
  margin-right: 8px;
}
.side .btn-logout h4 {
  display: none;
  transition: all 0.3s ease;
}
.side .btn-logout:hover {
  background-color: var(--sidebar-hover-bg-color);
}
.side .side.open .btn-logout h4 {
  display: inline-block;
}
.side .side.closed .btn-logout {
  padding: 0;
}
.side .side.closed .btn-logout h3 {
  display: none;
}

.submenu {
  display: none;
}

.submenu.open {
  display: block;
  margin-left: 5rem;
  padding: 0;
}

/* ------------ MEDIA QUERIES POUR TABLETTE ET MOBILE ---------- */
/* Pour les écrans mobiles (petits appareils comme iPhone) */
@media screen and (max-width: 768px) {
  .side {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 10;
    background-color: var(--sidebar-bg-color);
    transition: all 0.3s ease-in-out;
  }
  .side.closed {
    width: 50px;
  }
  .side.closed a h4 {
    display: none; /* Masquer le texte sur mobile si fermé */
  }
  .side.open {
    width: 250px;
  }
  .side.open a h4 {
    display: block;
    font-size: --font-size-h3;
    text-align: center;
    color: var(--col-white);
    margin: 0; /* Afficher le texte en mode ouvert */
  }
  .side .marque {
    display: none; /* Cacher le branding sur petit écran */
  }
  .dashboard-main {
    transition: all 0.3s ease-in-out;
  }
}
/* Pour les écrans tablettes (largeur > 768px mais < 1024px) */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .side.open {
    flex-basis: 200px;
  }
  .side .side-links a h4 {
    display: block;
    /* Afficher le texte sur tablette */
  }
}
/* Pour les écrans de bureau (plus de 1024px) */
@media screen and (min-width: 1024px) {
  .side {
    flex-basis: 200px; /* Toujours ouverte sur grand écran */
    max-width: 200px;
  }
  .side .side-links a h4 {
    display: block; /* Toujours afficher le texte */
  }
}/*# sourceMappingURL=asidebar.css.map */