.side {
  flex-shrink: 0;
  background-color: var(--sidebar-bg-color);
  transition: all 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: auto;
  margin-right: 2px;
}
.side.open {
  flex-basis: 250px;
  max-width: 250px;
}
.side.closed {
  flex-basis: 50px;
  max-width: 50px;
  padding-top: 1rem;
}
.side.closed .side-top {
  background-color: transparent;
  height: 10px;
}
.side.closed .marque {
  display: none;
}
.side.closed .toggle-btn {
  position: unset;
  margin: 0 10px;
  background-color: var(--color-dark);
  padding: 1px;
}
.side .side-top {
  background-color: var(--color-dark);
  position: relative;
}
.side .side-top .marque {
  color: var(--sidebar-marque-col);
  text-align: center;
  font-weight: 500;
  margin: 2rem;
}
.side .side-top .toggle-btn {
  background: none;
  color: var(--sidebar-bg-color);
  background-color: transparent;
  position: absolute;
  bottom: 10px;
  right: 10px;
  margin-top: 2rem;
  cursor: pointer;
}
.side .side-top .toggle-btn svg {
  width: 1.2rem;
  height: 1.2rem;
  color: var(--col-white);
}
.side .side-links {
  margin-top: 2rem;
}
.side .side-links a {
  display: flex;
  align-items: center;
  padding: 10px;
  color: var(--sidebar-links-col);
  white-space: nowrap;
  overflow: hidden;
  position: relative;
}
.side .side-links a:hover {
  background-color: var(--sidebar-hover-bg-color);
}
.side .side-links a.active {
  background-color: var(--sidebar-active-link);
}
.side .side-links a.active:before {
  content: "";
  position: absolute;
  right: 0;
  background-color: var(--col-action);
  height: 100%;
  width: 3px;
}
.side .side-links a svg {
  margin-right: 16px;
  width: 1.5rem;
  height: 1.5rem;
  transition: all 0.3s ease;
}
.side .side-links a h4 {
  transition: all 0.3s ease;
  margin: 0 1rem;
}
.side .side-links a .message-count {
  display: block;
  background-color: var(--col-action);
  color: var(--col-white);
  padding: 3px;
  position: absolute;
  right: 10px;
}
.side .btn-logout {
  padding: 10px;
  margin: 2rem auto;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: transparent;
  color: var(--col-white);
  cursor: pointer;
  transition: all 0.3s ease;
}
.side .btn-logout span {
  margin-right: 8px;
}
.side .btn-logout h4 {
  display: none;
  transition: all 0.3s ease;
}
.side .btn-logout:hover {
  background-color: var(--sidebar-hover-bg-color);
}
.side.open .btn-logout h4 {
  display: inline-block;
}
.side.closed .btn-logout {
  padding: 0;
}
.side.closed .btn-logout h3 {
  display: none;
}
.side .submenu {
  display: none;
}
.side .submenu.open {
  display: block;
  margin-left: 5rem;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .side {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    padding-top: 1rem;
    background-color: var(--sidebar-bg-color);
    transition: all 0.3s ease-in-out;
  }
  .side.closed {
    width: 50px;
  }
  .side.closed h4 {
    display: none;
  }
  .side.open {
    width: 180px;
  }
  .side.open a h4 {
    display: block;
    font-size: var(--font-size-h3);
    text-align: center;
    color: var(--col-white);
    margin: 0;
  }
  .side .marque {
    display: none;
  }
  .dashboard-main {
    transition: all 0.3s ease-in-out;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .side.open {
    flex-basis: 200px;
  }
  .side .side-links a h4 {
    display: block;
  }
}/*# sourceMappingURL=asidebar.css.map */