.dashboardHeader{
  background-color: transparentize($color: #354f0d, $amount: 0);
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1, h3{
        color: white;
        margin-right: 2rem;

    }
}