.dashboard {
    display: flex;
    flex-direction: column;
  
    /* Pour les écrans larges (Desktop) */
    @media (min-width: 768px) {
      flex-direction: row;
    }
  
    .dashboard-principal {
      display: flex;
      width: 100%;
    }
  
    /* AsideBar */
    .asidebar {
      flex: 0 0 250px;  /* Taille fixe de la sidebar sur Desktop */
      background-color: #f4f4f4;
      padding: 20px;
  
      @media (max-width: 768px) {
        flex: 1 1 auto;
        padding: 15px;
      }
    }
  
    /* Dashboard Content */
    .dashboard-content {
      flex: 1;  /* Remplit l'espace restant */
      padding: 20px;
      background-color: #fff;
  
      @media (max-width: 768px) {
        padding: 15px;
      }
    }
  }
  