@import '../../assets/styles/dashboard/dashboard';
.dashboard-main {
  display: flex;
  height: 100vh;
 // width: 100vw;
 // overflow: hidden;
  margin: 2px;
  .content{
    width: 100%;
    height: 100vh;
  }
}
@media screen and (max-width: 768px) {
  .dashboard-main {
    transition: all 0.3s ease-in-out;
  }
}

h1{
  font-size: (--font-size-h1);
}
h2{
  font-size: (--font-size-h2);
}




