.boutique{
    margin: 2rem;
    background-color: white;
    &__title{
        font-size: 1.5rem;
        font-weight: bold;
    }
}
   .boutique__container{
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 1rem;
    &__sideBar{
        border: 1px solid lightgrey;
        padding: 1rem;
        background-color: rgb(97, 143, 29);
   }
.boutique-style{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
}
  
    // .category{
    //     border: none;
    // }
}

    