@media (max-width: 768px) {
  .boutique-content {
    flex-direction: column;
  }
}
.boutique-content .boutique {
  display: flex;
}
@media (max-width: 768px) {
  .boutique-content .boutique {
    flex-direction: column;
  }
}
.boutique-content .category-filter {
  flex: 1;
  max-width: 200px;
  padding: 10px;
  border-right: 1px solid #ddd;
}
@media (max-width: 768px) {
  .boutique-content .category-filter {
    border-right: none;
    border-bottom: 1px solid #ddd;
  }
}
.boutique-content .category-filter h4 {
  font-size: 1.2em;
  margin-bottom: 10px;
}
.boutique-content .category-filter ul {
  list-style-type: none;
  padding: 10px;
}
.boutique-content .category-filter ul li {
  margin: 5px 0;
  cursor: pointer;
}
.boutique-content .category-filter ul li:hover {
  text-decoration: underline;
}
.boutique-content .product-list {
  flex: 3;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
  padding: 10px;
}
.boutique-content .product-item-boutique {
  background-color: #fff;
  padding: 1px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;
  width: 100%;
}
.boutique-content .product-item-boutique:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}
.boutique-content .product-item-boutique img {
  width: 100%;
  height: 180px;
  -o-object-fit: cover;
     object-fit: cover;
  border-bottom: 1px solid #ddd;
  border-radius: 8px 8px 0 0;
  padding: 0;
  margin-bottom: 1rem;
  padding: 0;
  transition: none;
}
.boutique-content .product-item-boutique img:hover {
  transform: none;
}
.boutique-content .product-item-boutique .info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.boutique-content .product-item-boutique .info-container h3 {
  font-size: 1.1rem;
  margin: 5px 0;
  color: #333;
  font-weight: 700;
  text-align: center;
}
.boutique-content .product-item-boutique .info-container p {
  padding: 0 20px;
  margin: 0;
  gap: 0;
}
.boutique-content .product-item-boutique .category {
  font-size: 0.9rem;
  width: 180px;
  line-height: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  text-align: center;
  align-items: center;
  border: 1px solid #e8c69b;
}
.boutique-content .product-item-boutique .product-description {
  margin: 1rem;
  border-radius: 0;
  line-height: 1.2;
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  max-height: 3em;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 0.9rem;
  border: none;
  box-shadow: none;
}
.boutique-content .product-item-boutique .product-description:hover {
  transform: none !important;
}
.boutique-content .buttons-actions {
  display: flex;
  gap: 0.5rem;
  margin: auto;
}
.boutique-content .buttons-actions button {
  margin-top: 15px;
  padding: 15px;
  background-color: #BDCF2B;
  color: white;
  border: none;
  border-radius: 5px;
  width: 5rem;
  height: auto;
  cursor: pointer;
  margin-bottom: 2rem;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.boutique-content .buttons-actions button:hover {
  background-color: #3a522c;
  transform: translateY(-2px);
}/*# sourceMappingURL=boutique.css.map */