// .boutique{
  @mixin line-clamp($lines, $line-height) {
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: $lines;
    -webkit-box-orient: vertical;
    max-height: $lines * $line-height;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 0.9rem;
    border: none;
    box-shadow: none;
    
     }
  
  
  .boutique-content {
    @media (max-width: 768px) {
      flex-direction: column;
    }
    .boutique{
      display: flex;
          @media (max-width: 768px) {
            flex-direction: column;
          }
  }

  .category-filter {
    flex: 1;
    max-width: 200px;
    padding: 10px;
    border-right: 1px solid #ddd;
  
    @media (max-width: 768px) {
      border-right: none;
      border-bottom: 1px solid #ddd;
    }
  
    h4 {
      font-size: 1.2em;
      margin-bottom: 10px;

    }
  
    ul {
      list-style-type: none;
      padding: 10px;
  
      li {
        margin: 5px 0;
        cursor: pointer;
  
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  
  .product-list {
    flex: 3;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 20px;
    padding: 10px;
  }
  
  .product-item-boutique {
    background-color: #fff;
    padding: 1px;
    //border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
    width: 100%;
  
    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    }
  
    img {
      width: 100%;
      height: 180px;
      object-fit: cover;
      border-bottom: 1px solid #ddd;
      border-radius: 8px 8px 0 0;
      padding: 0;
      margin-bottom: 1rem;
      padding: 0;
      transition: none;
      &:hover{
        transform: none;
      }
    }
  
    .info-container {
     // padding: 55px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 10px;
     // flex-grow: 1;
    
   
    h3 {
      font-size: 1.1rem;
      margin: 5px 0;
      color: #333;
      font-weight: 700;
      text-align: center;
    }
  p{
    padding: 0 20px;
    margin: 0;
    gap: 0;
  }
  
   
  }
}
.product-item-boutique .category{
  font-size: 0.9rem;
  width: 180px;
  line-height: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  text-align: center;
  align-items: center;
  //background-color: antiquewhite;
  border: 1px solid #e8c69b;
}
.product-item-boutique .product-description {
  margin: 1rem;
border-radius: 0;
line-height: 1.2;

  @include line-clamp(2, 1.5em);

  
 // @include line-clamp(2, 1.5em);
  &:hover {
    transform: none !important;
    //box-shadow: none;
  }
}
.buttons-actions {
  display: flex;
  gap: 0.5rem;
  margin: auto;
  button {
  margin-top: 15px;
  padding: 15px;
  background-color: #BDCF2B;
  color: white;
  border: none;
  border-radius: 5px;
  width: 5rem;
  height: auto;
  cursor: pointer;
  margin-bottom: 2rem;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  &:hover {
    background-color: #3a522c;
    transform: translateY(-2px);
  }
}}

  }
  
 