body{
    margin: 0;
    width: 100vw;

}

.conseilEnHerbe{
    background-color: burlywood;
    margin: 0;
    padding: 0;
  
.block{
    width: 90%;
    background-color: red;
    margin: auto;
    text-align: center;
    //font-size: clamp(14vw, 15vw, 1px);
}
}