
$font-stack: Poppins, sans-serif;
$quicksand: Quicksand, sans-serif;
$moderustic: Moderustic, sans-serif;
$button: oklch(63.29% 0.0966 302.84) ;

@keyframes focusin {
  0% {
    transform: scale(1) rotate(0deg);
    transform-origin: 0% 0%;

    }
  
  100% {
    transform: scale(3) rotate(5deg);
    transform-origin: 80% 10%;

    }

}

.product-details{
  margin: 4vw;
  .go-back-btn {
    background-color: #ff9800;
    color: white;
    border: none;
    padding: 0.5em 1em;
    //font-size: 14px;
    cursor: pointer;
    margin: 1vw;

  }
.product-item-details, .product-item {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    overflow: hidden;
    .product-img{
      flex:  350px 1;
      overflow: hidden;
      box-shadow: 0 2px 10px rgba(0,0,0,.25);
      width: 100%;
    height: auto;
    }
  img {
    width: 100%;
    max-height: 275px;
    height: auto;
    object-fit: cover;
    transition: transform 1.3s ease-in-out;
    &:hover {
      animation-duration: 10s;
      animation-iteration-count: 1;
      animation-name: focusin;
      animation-fill-mode: forwards;

    }
  }
  .info-container {
    flex: 400px 1;
    display: flex;
    justify-content: flex-end;
    gap: auto;
    flex-wrap: wrap;
    align-items: baseline;
    height: max-content;
    width: fit-content;
    p{
      font-size: 16px;
    }
    h3 {
      font-size: 1.5rem;
    }
    .category {
      font-weight: 400;
      font-style: italic;
      color: #666;
      margin: 0;
      padding: 5px 10px ;
      margin-top: 2rem;
      margin-right: 20rem;
    }
    .price {
      font-size: 1.2rem;
      color: #ff9800;
      font-weight: bold;
      margin: 0 4rem 0 6rem;
    }
  }}
  .product-details-buttons{
  height: 10rem;
  width: 96%;
  //position: relative;
  //left: 110%;
 display: flex;
 flex-direction: row-reverse;
 gap: 2rem;
 // align-items: first baseline baseline;
  button{
    background-color:#83901e;
    width: 14rem;
    border-radius: 5px;
    padding: 1.5rem 1rem;
    font-family: $moderustic;
    font-weight: 600;
    font-size: 16px;
      box-shadow: 0 2px 10px rgba(0,0,0,.25);
    transition: transform 0.3s ease-in-out;
    &:hover{
      transform: translateY(-7px);
      background-color: rgb(135, 151, 87);
    }
    &:focus{
      transform: scale(1.1);
    }
    &.commander{
      background-color: #ff9800;
      color: white;
      flex-wrap: nowrap;
    }
   
} }
}