/* PaymentPage.css */
.payment-page {
    padding: 20px;
    background-color: #f9f9f9;
   // height: 100vh;
  
  .payment-page h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
} 
  
  .form-cart{
    display: flex;
    gap: 2rem;
    margin: 0 4rem;

    .cart-summary {
      display: flex;
      background-color: #fff;
      padding: 15px;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      margin-bottom: 20px;
      width: 55%;
      .pay-button {
        background-color: #007bff;
        color: #fff;
        border: none;
        padding: 10px 20px;
        font-size: 1rem;
        border-radius: 5px;

        cursor: pointer;
        transition: background-color 0.3s ease;
      }
      
      .pay-button:hover {
        background-color: #0056b3;
      }
    }
.final-cart{
  width: 32%;
  background-color: antiquewhite;
  border: 1px solid #e8c69b;
  border-radius: 5px;
}

  }