@import '../../../assets/styles/utils/mixins';

h1{
    text-align: center;
    padding: 2rem;
}
.insider{
    display: flex;
    flex-direction: column;
    background-color: $white-col;
    box-shadow: 0 10px 25px rgba(0,0,0,.25);
    margin: 1rem;
    &__img{
        overflow: hidden; 
        width: 100%;
        .presentation__img{
            width: 100%;
            object-fit: cover;
            &:hover{ 
                transform: scale(1.1);
                transition:1s ease-in-out;
            }}}
    &__text{
        p{
            line-height: 1.5;
            padding:  1rem;
        };
    }
    h3{
        text-align: center;
        padding-top: 1rem;
        color: $col-title;

    };
    @include for-size(tablet-landscape-up) {    
        flex-direction: row; 
        &__img{
        overflow: hidden;
        height: auto;
        }
        &__text{
            width: 88%;
            margin: 2rem 4rem;
        }
        .presentation__img{
            height: 100vh;
        }
    } 

}

