.control-bar {
    background-color: #ffffff;
    padding: 10px 20px;
    display: flex;
    gap: 1rem;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px; /* Ajout d'un espace en bas du ControlPanel */
  }
  .control-bar .actions {
    display: flex;
    gap: 15px;
  }
  .control-bar button {
    background-color: #4c9daf;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .control-bar button:hover {
    background-color: #457aa0;
  }
  .control-bar input[type="text"] {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid  #457aa0;
    width:350px;
  }