$col-titre: #849129;
$primary-col:#BDCF2B;
$secondary-col:#B3B287;
$white-col:#fff;
$light-underline-col:#e5d16e;
$alert-col:#DC2626;
$bg-nav:#181818;
$bg-before: rgba(37, 33, 33, 0.3);;
$bg-card:#728F69;
$shadow: 0px 2px 0px #3c7e4d;
$hover: #ddd;

$font-stack: "Poppins, sans serif";
$quicksand: "Quicksand, sans serif";
$moderustic: "Moderustic, serif";