@mixin line-clamp($lines, $line-height) {
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
  max-height: $lines * $line-height;
  text-overflow: ellipsis;
  overflow: hidden;
}

$primary-col: #A4B730;

.product-content {
  width: 100%;

  .title-action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(119, 127, 83);
    padding: 0 1rem;
    border-radius: 4px;
    margin-bottom: 2rem;

    h2 {
      margin: 0;
      color: white;
      font-size: 1.5rem;
    }
  }

  .product-grid {
    margin: 1rem;

   &.tableView {
   .product-item-dashboard {
     display: flex;
    flex-direction: row;
    border-radius: 8px;
    border: 0.01em solid rgb(225, 220, 220);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
     margin-bottom: 0.5rem;
     align-items: center;
     padding: 5px;
     transition: transform 0.3s ease;

     &:hover {
       transform: translateY(-5px);
     }
    img{
      width: 60px;
      height: 60px;
      border: none;
    }
    .info-container{
      display: flex;
      align-items: center;
      margin-left: 1rem;
      text-align: left;
     h3, p{
        color: black;
        font-size: 1rem;
        width: 180px;
        //max-width: max-content;
      }
      .product-description{
        color: #666;
        border: none;
        width: 150px;
        transition: none;
        box-shadow: none;
        @include line-clamp(2, 1.5em);
        &:hover {
          transform: none;
        }
      }
      .category{
        width: 275px;
        margin: 0;
      margin-left: 2.5rem;
      border: none;
      }
      .price, .stock{
        width: 100px;
      }
    }
   }
  }
  }
  .gridView {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 1rem;
      gap: 0.5rem;
    
    .product-item-dashboard {
      display: flex;
      flex-direction: column;
      border-radius: 8px;
      border: 0.01em solid rgb(225, 220, 220);
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

      transition: transform 0.3s ease;
      &:hover {
        transform: translateY(-5px);
      }
      img {
        width: 100%;
        max-height: 100px;
        border-radius: 4px;
        object-fit: cover;
        transition: none;
        &:hover{
          transform: none;
        }
      }
      .info-container {
        background-color: white;
        padding: 0 10px;
        display: flex;
        flex-direction: column;
        font-size: 0.8rem;
        gap: 0.2rem;
        h3, p{
          font-size: 0.8rem;
        }
        .product-description {
          color: #666;
          border: none;
          height: 150px;
          transition: none;
          box-shadow: none;
          @include line-clamp(2, 1.5em); // Limite la description à 2 lignes
          transition: none;
          &:hover{
            transform: none;
          }
        }
        .category{
          padding: 0;
          margin: 0;
          border: none;
          width: 300px;
        }
      }
    }
 
}
}
.buttons-actions {
  display: flex;
  gap: 0.5rem;
  margin: 1rem auto;

  button {
    background-color: $primary-col;
    border-radius: 50%;
    color: white;
    border: none;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    &.delete {
      background-color: #e7a012;
    }

    svg {
      width: 100%; // Utilise la taille entière du conteneur
      height: 100%;
      max-width: 24px; // Taille maximale pour éviter qu'elle soit trop grande
      max-height: 24px; // Taille maximale pour éviter qu'elle soit trop grande
    }
  }
}
// .product-item-boutique,
// .category {
//   border: none;
//   line-height: 1;
//   padding: 0;
// }
