.product-list-principal{
    margin: 1rem;
}
.product-grid{
    display: grid;
    margin: 1rem;
      grid-gap: 5px;
    background-color: white;


}
.item-product{
background-color: rgb(183, 211, 210);
display: grid;
grid-template-columns: 100px 100px 250px 100px repeat( 2, 50px) 100px 100px;
li{
    align-items: left;
    justify-content: left;
}

}
.title-action{
    display: flex;
    align-items: flex-end;
}
.product-list-principal {
    .title-action {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;
    }
  
    .product-list-container {
      max-height: 500px; /* Adjust the height as needed */
      overflow-y: auto;
      border: 1px solid #ccc;
      padding: 10px;
    }
  
    .gridView {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      gap: 10px;
    }
  
    .tableView {
      display: block;
    }
  }