.modal-overlay {

    background: rgb(236, 236, 213);
    //display: flex;
    //justify-content: center;
    //align-items: center;
  //  backdrop-filter: black;
    //z-index: 1000;
   // color: white;

  }
  .modal-content {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
//    z-index: 1001;
    background-color: darken($primary-col, 13%);
    ;
    width: 60%;
    height: 100%;
  }
  

form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    background: transparent ;
      border-radius: 5%;
        box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white; 
          margin-left: auto;
          margin-right: auto; 
           padding: 20px;  
           h2{
            color: $white-col;
           }
}
.addProduct{
    margin: 0;
    padding: 0;
    display: flex;

}
.newProduct{
    display: flex;
    flex-direction: row;
}
input, textarea, select{
 background: #ECECD5; 
  border-radius: 15px; 
  // box-shadow: inset 3px 3px 3px #3f4e24, inset -6px -6px 6px white;
height: 3rem;
margin-right: 3rem;
font-size: 20px;
font-family: $quicksand;
color: black;
padding: 2rem;

box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
0 2px 2px hsl(0deg 0% 0% / 0.075),
0 4px 4px hsl(0deg 0% 0% / 0.075),
0 8px 8px hsl(0deg 0% 0% / 0.075),
0 16px 16px hsl(0deg 0% 0% / 0.075);
}
textarea{
    height: 5rem;
    width: 90%;
    margin-right: 3rem;
}
#imageUrl{
    width: 90%;
}
label{
    margin-right: 1rem;
    width: 100px;
}
.small-width-select {
    width: 200px; // Adjust the width as needed
}

.small-width-select option {
    width: 25px; // Adjust the width as needed
    color: black;
    display: block;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.btn{
    max-width: 8rem;
    border-radius: 1rem;
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    margin: 0 auto;
    &:hover {
      color: $white-col;
      transform: scale(1.1);  }
    &.submit{
      display: flex;
      justify-content: center;
      margin: 2rem auto;
      background-color: darken($primary-col, 20%);
      color: $white-col;
      font-size: 1rem;
  }
  &.option{
    color:  darken($primary-col, 20%);
    background-color: lighten($primary-col, 43%);
    line-height: 1;
  }
  }
  fieldset{
   display: flex;
   align-items: center;
   margin-left: 2rem;
}
    